body {
    text-align: center;
}

h1 {
    font-size: 150%;
}

img {
    border-radius: 10px;
}

img.gameplay {
    margin-right: 15px;
    float: left;
    border-radius: 10px;
}

p.game-description {
    font-weight: 100;
    line-height: 2;
    word-spacing: 5px;
    text-align: left;
    overflow: auto;
}

.game-details-container {
    font-size: 14px;
    word-spacing: 6px;
    float: left;
}

.details-list {
    list-style-type: circle;
    text-align: left;
}

li {
    margin-bottom: 7px;
}

.game-container {
    margin-bottom: 40px;
    clear: left;
    overflow: auto;
}

.hypercasual-game {
    float: left;
    margin: 20px;
    overflow: auto;
}

.title {
    font-size: 24px;
    font-weight: normal;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(181 232 83 / 10%), 0 0 10px rgb(181 232 83 / 10%);
}

.buttons {
    margin: 20px;
}

hr {
    clear: left;
}