body {
    text-align: center;
}

h1 {
    font-size: 150%;
}

img.gameplay {
    margin-right: 15px;
    float: left;
}

p.game-description {
    text-align: left;
    overflow: auto;
}

.game-details-container {
    float: left;
}

.details-list {
    list-style-type: circle;
    text-align: left;
}

.game-container {
    margin-bottom: 40px;
    clear: left;
    overflow: auto;
}

.buttons {
    margin: 20px;
}